$mobile-320: 320px;
$mobile-375: 375px;
$mobile-1024: 1024px;

$laptop-1280: 1280px;
$laptop-1366: 1366px;
$desktop-1920: 1920px;

//Map of font 
$font: (
   "family": 'Montserrat',
   "bold": 500,
   "normal": 400,
   "size": 16px
);

//Colors

$Rich-Black: #001524;
$Blanced-Almond: #ffecd1;
$Medium-Slate-Blue: #6665dd;
$Amber: #ff7d00;
$Bud-Green: #6da34d;


@mixin flex($justify: flex-start, $align: stretch, $direction: row) {
   display: flex;
   justify-content: $justify;
   align-items: $align;
   flex-direction: $direction;
}
